
header {
    margin: 0 auto;
    
}
/* Grundlegende Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/background.png');
    background-size: cover; /* Deckt den gesamten Hintergrund ab */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    
}
/* Container für den gesamten Seiteninhalt */
.container {
    max-width: 1200px;  /* Maximale Breite, anpassbar je nach Bedarf */
    margin: 0 auto;     /* Zentriert den Container horizontal */
    padding: 1em;       /* Optionaler Abstand innen */
    
  }
  


/* Hauptinhalt */
main {
    padding: 1em;
}

/* Abschnittsstile */
section {
    max-width: 600px;
    margin-bottom: 2em;
}

/* Überschriften */
h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

/* Listenstile */
ul {
    max-width: 600px;
    list-style-type: none;
    padding: 0;
    
    
}

li {
    max-width: 600px;
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
    
    
}

/* Ladeanzeige */
#loading {
    text-align: center;
    font-size: 1.2em;
}

/* Footer-Stile */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Stelle sicher, dass die Kategorien-Listen sichtbar sind */
#kategorien {
    margin-top: 1em;
    
  }
  
  #kategorien ul {
    padding-left: 1em;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    
  }
  

  
/* Stil für die Meldung "Keine Ergebnisse gefunden." */ 
#map {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 100px;
    width: 150px;
    transition: all 0.3s ease;
    z-index: 1000;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }

  #map:hover {
    height: 300px;
    width: 400px;
  }
  
