/* Grundlegende Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* Hauptinhalt */
main {
    padding: 1em;
}

/* Abschnittsstile */
section {
    margin-bottom: 2em;
}

/* Überschriften */
h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

/* Listenstile */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

/* Ladeanzeige */
#loading {
    text-align: center;
    font-size: 1.2em;
}

/* Footer-Stile */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Stelle sicher, dass die Kategorien-Listen sichtbar sind */
#kategorien {
    margin-top: 1em;
  }
  
  #kategorien ul {
    padding-left: 1em;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 1em;
  }
  
  #kategorien li {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
  }
  
  /* Stil für die Meldung "Keine Ergebnisse gefunden." */
  #kategorien p {
    color: red;
    font-weight: bold;
  }
  
